@import 'assets/styles/common.scss';
@import 'assets/styles/font.scss';
@import 'assets/styles/color.scss';

.category-wrap {
  display: grid;
  grid-template-areas:
    'women women women men men men'
    'hats hats jackets jackets sneakers sneakers';
  grid-gap: 30px;

  flex-grow: 1;
  max-width: 75%;
  padding: 50px 0px;

  .category {
    @include flex-center;
    @include background;
    min-height: 300px;
    transition: $transition;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: transparent;
      pointer-events: none;
      transition: $transition;
    }

    &:hover {
      box-shadow: $box-shadow;

      &:after {
        background: rgba(0, 0, 0, 0.3);
      }
    }
  }

  .loading-component {
    @include loading;
  }
}
