.category-wrap {
	display: grid;
	grid-template-areas:
		'woman woman woman man man man'
		'hats hats jackets jackets sneakers sneakers';
	grid-gap: 20px;

	flex-grow: 1;
	max-width: 75%;
	padding: 30px 0px 20px;

	.category {
		display: flex;
		justify-content: center;
		align-items: center;

		min-height: 300px;
		box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);

		background-repeat: no-repeat;
		background-size: 140%;
		background-position: center;
	}
}
