@import 'assets/styles/color.scss';
@import 'assets/styles/common.scss';
@import 'assets/styles/font.scss';

.auth {
  min-height: 80vh;
  padding: 40px 10%;
  display: flex;
  justify-content: space-around;
}