@import 'assets/styles/common.scss';
@import 'assets/styles/font.scss';
@import 'assets/styles/color.scss';

.products-details {
  @include flex-center;
  flex-direction: column;
  min-height: 100vh;
  padding: 40px 0px;

  h1 {
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 20px 0px;
  }

  .list {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .loading-component {
    margin-top: 100px;
  }
}
