.wrap-cart {
  position: relative;
  display: flex;
  align-items: center;

  cursor: pointer;

  .cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &-icon {
      width: 40px;
      height: 60px;
    }

    .count {
      position: absolute;
      top: 27px;

      font-size: 12px;
      font-weight: 300;
      text-align: center;
    }
    
  }

  .arrow {
    position: absolute;
    right: -10px;
    transform: rotate(180deg);

    width: 10px;
    height: 10px;
  }

  .cart-dropdown {
    position: absolute;
    z-index: 10;

    top: 70px;
    right: -20px;
    padding: 15px 5px;

    width:280px;
    height: 350px;

    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
    border: 2px solid #555;

    .content {
      height: 85%;
      overflow-y: scroll;

      .nothing {
        display: block;
        padding: 125px 0;
        color: #666;
      }
    }

    .check-out-btn {
      display: block;
      width: 80%;
      margin: 12px 25px 0px;
      padding: 8px 0px;
      border: 2px solid #111;
      transition: .3s ease-in-out;

      &:hover {
        background-color: #111;
        color: white;
      }
    }
  }
}