@import 'assets/styles/common.scss';
@import 'assets/styles/font.scss';
@import 'assets/styles/color.scss';

.new-product {
  min-height: 80vh;
  @include flex-center;

  &__content {
    width: 50%;
    height: 100%;
    background-color: $white;
    @include flex-center;
    flex-direction: column;

    .wrap {
      height: 200px;
      display: flex;
      flex-direction: column;

      .name {
        font-size: 40px;
        font-weight: 400;
        text-align: left;
        margin: 10px 0px;
      }

      .property {
        margin: 4px 0px;
        font-size: 18px;
        color: #333;
        letter-spacing: 1px;
      }

      .line {
        margin-top: 10px;
        height: 1px;
        width: 80%;
        background-color: $light-gray;
      }

      .main-btn {
        width: 65%;
        margin-top: 20px;
        text-transform: uppercase;
        @include main-btn;

        .arrow {
          @include arrow;
        }
      }
    }
  }

  &__background {
    width: 50%;
    height: 650px;
    background-image: url(../../../assets/images/jacket.jpeg);
    @include background;
  }
}
