@import 'assets/styles/common.scss';
@import 'assets/styles/font.scss';
@import 'assets/styles/color.scss';

.item {
  height: 100%;
  display: flex;
  padding: 4px;
  margin-right: 4px;
  border-bottom: 1px solid $light;

  .image {
    @include background;

    width: 80px;
    height: 80px;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin: 8px 8px;
    flex-grow: 1;

    .name {
      margin-bottom: 4px;
      width: 145px;

      text-align: left;
      font-size: $md;
      font-weight: 400;
      letter-spacing: 1px;
      @include ellipsis;
    }

    .price {
      font-size: $md;
      color: $gray;
      font-weight: 300;
      margin-bottom: 4px;
    }

    .quantity {
      font-weight: 300;
    }
  }
}
