@import 'assets/styles/common.scss';
@import 'assets/styles/font.scss';
@import 'assets/styles/color.scss';

.wrap-bag {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  margin-right: 20px;

  .bag {
    position: relative;
    @include flex-center;

    &-icon {
      @include icon-size;
      cursor: pointer;
    }

    &__quantity {
      position: absolute;
      top: 18px;

      font-size: $sm;
      font-weight: 300;
      text-align: center;
      cursor: pointer;
    }
  }

  .arrow {
    position: absolute;
    right: -10px;
    transform: rotate(180deg);

    width: 10px;
    height: 10px;
  }

  .bag-dropdown {
    position: absolute;
    z-index: 10;
    top: calc(100% + 20px);
    right: -20px;
    padding: 15px 5px;

    width: 280px;
    height: 350px;

    background-color: $white;
    box-shadow: $box-shadow;
    border: $border;

    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;

    .bag-content {
      height: 85%;
      overflow-y: scroll;

      .empty {
        display: block;
        margin: calc(100% / 2.1) 0px;
        font-size: $lg;
        color: $gray;
      }
    }

    .checkout-btn {
      display: block;
      width: 80%;
      text-transform: uppercase;
      letter-spacing: 1px;

      margin: 12px auto;
      padding: 8px 0px;

      border: $border;
      transition: $color-transition;
      @include button;
    }
  }

  &:hover .bag-dropdown {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
}
