@import 'assets/styles/color.scss';
@import 'assets/styles/common.scss';
@import 'assets/styles/font.scss';

.nav-bar {
  width: 100%;
  max-height: 60px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: $white;
  box-shadow: 0 10px 15px -2px rgba(0, 0, 0, 0.09);

  &__logo {
    display: flex;
    align-items: center;
    padding: 0 5px;

    &-icon {
      @include icon-size;
    }

    h1 {
      font-family: 'Dosis', sans-serif;
      height: 40px;
      margin-left: 15px;
      letter-spacing: 2px;
    }
  }

  .search {
    display: flex;
    background-color: #eee;
    padding: 3px;
    border-radius: 4px;

    &-icon {
      width: 20px;
      height: 35px;
      margin-left: 10px;
    }

    &-input {
      margin-left: 10px;
      background-color: transparent;
      width: 300px;
    }
  }

  .link-group {
    display: flex;
    align-items: center;
    font-family: 'Sarabun', sans-serif;

    .link {
      padding: 16px 0px;
      margin: 0 20px;

      font-size: $nav-font-size;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;
      transition: $color-transition;

      &:hover {
        color: $gray;
      }
    }

    .active {
      padding-top: 20px;
      border-bottom: 3px solid #555;
    }
  }

  .signin-signout {
    display: block;
    font-size: $nav-font-size;
  }
}
