@import 'assets/styles/color.scss';
@import 'assets/styles/common.scss';
@import 'assets/styles/font.scss';

.scroll-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;

  padding: 10px;
  border-radius: 50%;

  border: 3px solid $light-gray;
  background-color: rgba(255, 255, 255, 0.5);

  cursor: pointer;
  z-index: 1000;
  transition: $transition;

  &:hover {
    border: 3px solid $gray;
  }

  .arrow-icon {
    width: 25px;
    height: 20px;
  }
}
