.header {
	max-width: 100%;
	max-height: 60px;

	display: flex;
	justify-content: space-around;
	align-items: center;

	position: fixed;
	left: 0;
	right: 0;
	z-index: 1000;

	background-color: #fff;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);

	.logo {
		display: flex;
		align-items: center;
		padding: 0 5px;

		h1 {
			margin-left: 15px;
			letter-spacing: 2px;
		}

		&__icon {
			width: 40px;
			height: 60px;
		}
	}

	.link-group {
		display: flex;
		align-items: center;
		padding: 0 5px;

		.link {
			padding: 17px 10px;
			margin: 0 20px;
			font-size: 1.1rem;
		}

		.active {
			padding-top: 20px;
			border-bottom: 3px solid #555;
		}
	}

	.search {
		display: flex;
		background-color: #eee;
		padding: 3px 20px 3px 0px;
		width: 300px;
		border-radius: 4px;

		&-icon {
			width: 20px;
			height: 35px;
			margin-left: 10px;
		}

		&-input {
			margin: 0px 10px;
			background-color: rgba(0, 0, 0, 0);
		}
	}

	.signin-signout {
		display: block;
		padding: 20px 0px;
		margin: 0 5px;
		font-size: 1.1rem;
	}
}
