@import 'assets/styles/color.scss';
@import 'assets/styles/common.scss';
@import 'assets/styles/font.scss';

%sign-in-sign-out {
  font-family: futura-pt, sans-serif;
  font-size: 12px;
  color: $gray;
  transition: $transition;

  &:hover {
    color: $black;
  }
}


.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background-color: #ddd;
  
  .user-name {
    position: absolute;
    left: 0;
    padding: 0px 10px;
  }
  
  ul {
    display: flex;
    justify-content: flex-end;

    li {
      padding: 6px 16px;
      border-left: 1px solid #ccc;

      div {
        display: inline;
        cursor: pointer;  
        @extend %sign-in-sign-out;
      }

      a {
        @extend %sign-in-sign-out;
      }
    }
  }
}
