@import 'assets/styles/color.scss';
@import 'assets/styles/common.scss';
@import 'assets/styles/font.scss';

.product-card {
  width: 330px;
  height: 400px;
  margin: 20px;
  border: 1px solid transparent;
  transition: $transition;

  &__background {
    @include background;
    @include flex-center;
    width: 100%;
    height: 330px;

    &:hover :first-child {
      opacity: 1;
    }
  }

  .details {
    text-align: left;
    padding: 10px 4px 20px;

    &__name {
      font-size: 17px;
      font-weight: 500;
      @include ellipsis;
    }

    &__price {
      font-size: $md;
      margin: 0px 140px 0 0;
      color: $gray;
    }

    &__id {
      font-size: $sm;
      font-weight: 400;
      color: $gray;
    }
  }

  &:hover {
    border: 1px solid $black;
  }
}
