@import 'assets/styles/color.scss';
@import 'assets/styles/common.scss';
@import 'assets/styles/font.scss';

.add-to-bag {
  width: 140px;
  font-weight: 500;
  background-color: $white;
  padding: 8px 16px;
  border: 1px solid $gray;
  opacity: 0;
  cursor: pointer;
  transition: opacity $transition;
  @include button;
}
