.category-wrap {
	display: grid;
	grid-template-areas:
		'woman woman woman man man man'
		'hats hats jackets jackets sneakers sneakers';
	grid-gap: 30px;

	flex-grow: 1;
	max-width: 75%;
	padding: 100px 0px 50px;

	.category {
		display: flex;
		justify-content: center;
		align-items: center;

		min-height: 300px;

		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		transition: 0.3s ease-in-out;

		&:after {
			content: '';
			width: 100%;
			height: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0, 0, 0, 0);
			pointer-events: none;
			transition: 0.3s ease-in-out;
		}

		&:hover {
			box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.8);

			&:after {
				background: rgba(0, 0, 0, 0.3);
			}
		}
	}

	.loading-component {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
