@import 'assets/styles/common.scss';
@import 'assets/styles/font.scss';
@import 'assets/styles/color.scss';

.collection-preview {
	@include flex-center;
	flex-direction: column;
	padding: 80px 0px 40px;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 80%;

		&-title {
			font-size: 40px;
			font-weight: 400;
			text-transform: capitalize;
			letter-spacing: 2px;
		}

		.see-all {
			padding: 10px 40px;
			border: $border;
			background-color: $white;
			font-size: 20px;
			@include button;
		}
	}

	.products-preview {
		height: 100%;
		display: flex;
	}
}

.jackets,
.woman {
	background-color: $light;
}
