@import './color.scss';

$box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25);
$border: 2px solid $gray;
$transition: 0.3s ease-in-out;
$color-transition: color 0.3s ease-in-out;

@mixin icon-size {
  width: 40px;
  height: 40px;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin button {
  box-shadow: 4px 4px 0px 1px #333;

  &:hover {
    background-color: $white;
  }

  &:active {
    border-color: $black;
    color: $black;
    transform: translate(4px, 4px);
    box-shadow: none;
  }
}

@mixin main-btn {
  padding: 10px 30px;
  border: $border;
  background-color: $white;
  font-size: 20px;
  @include button;
}

@mixin arrow {
  margin-left: 10px;
  width: 30px;
  height: 25px;
  margin-bottom: -6px;
}

@mixin input-auth {
  border: 1px solid $gray;
  padding: 15px;
  margin: 15px 0px 5px;
  width: 400px;
}

@mixin submit {
  text-transform: uppercase;
  padding: 10px 40px;
  border: $border;
  cursor: pointer;

  &:hover {
    background-color: $black;
    color: white;
  }
}
